<a href="https://colab.research.google.com/github/fridaruh/Curso_Data_Analysis_Risk_Mathics/blob/master/Funciones_lambda_y_ciclos_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Funciones definidas

In [ ]:
def volumen_prisma(base, altura, fondo):
  area = base*fondo
  volumen = area*altura
  print(volumen) #Solo imprime el último resultado

In [ ]:
volumen_prisma(6,4,3)

72

In [ ]:
def volumen_prisma(base, altura, fondo):
  area = base*fondo
  volumen = area*altura
  return volumen #Me permite almacenar la variable con sus propiedades

In [ ]:
volumen_prisma(6,4,3)

72

Otra función definida:

In [ ]:
def doble(num):
  resultado = num*2
  return resultado

In [ ]:
doble(2)

4

#Funciones lambda

*lambda argumentos: expresión*

Escribiendo la misma función con funciones lambda:

In [ ]:
doblar = lambda num: num*2 #Función con un sólo argumento

In [ ]:
doblar(2)

4

In [ ]:
# df['doble'] = df['columna'].apply(lambda num: num*2)

Función lambda con dos argumentos:

In [ ]:
suma = lambda a,b: a+b

In [ ]:
suma(5,7)

12

# Funciones lambda en **DataFrame**

In [ ]:
import pandas as pd
import numpy as np

Generar una tabla con valores aleatorios:

In [ ]:
df = pd.DataFrame(np.random.randint(0,100, size=(4,2)), columns=list('AB'))

In [ ]:
df

    A   B
0  57  79
1  68  76
2  31  44
3  68  55

Generar una función lambda que suma 1 a cada número de **TODO** el dataset

In [ ]:
df.apply(lambda x: x+1)

    A   B
0  58  80
1  69  77
2  32  45
3  69  56

Generar una función lambda que eleva al cuadrado(o cualquier potencia) TODO el dataset

In [ ]:
df.apply(lambda x: x**2)

      A     B
0  3249  6241
1  4624  5776
2   961  1936
3  4624  3025

In [ ]:
df

    A   B
0  57  79
1  68  76
2  31  44
3  68  55

Generamos una función lambda que suma 10 unidades a cada número de la columna A

In [ ]:
df['A'] = df['A'].apply(lambda x: x+10)

In [ ]:
df

    A   B
0  67  79
1  78  76
2  41  44
3  78  55

In [ ]:
df['A'] = df['A'].apply(lambda x: x%2==0)
df['B'] = df['B'].apply(lambda x: str(x/100)+'%')

In [ ]:
df

       A      B
0   True  0.79%
1  False  0.76%
2   True  0.44%
3  False  0.55%

# Funciones map

Las funciones map esperan una función y un **iterable** (lista, diccionario,tupla,etc.) y ejecuta la función para cada elemento de la secuencia.

In [ ]:
lista = [1,2,3,4]

In [ ]:
def multiply2(x):
  y = x*2
  return y
  #return x*2

In [ ]:
map(multiply2,lista)

Para poder visualizar los resultados necesitamos convertirlo a lista!!!!

In [ ]:
list(map(multiply2,lista))

[2, 4, 6, 8]

In [ ]:
multiply2(lista)

[1, 2, 3, 4, 1, 2, 3, 4]

**Con funciones lambda**

In [ ]:
lista_a = [1,2,3]
lista_b = [10,20,30]

In [ ]:
map(lambda x,y: x+y, lista_a, lista_b)

In [ ]:
list(map(lambda x,y: x+y, lista_a, lista_b))

[11, 22, 33]

# Función filter()

In [ ]:
a = [1,2,3,4,5,6]

In [ ]:
filter(lambda x: x%2==0, a)

In [ ]:
list(filter(lambda x: x%2==0, a))

[2, 4, 6]

# Condicionales

**Condicional if**

In [ ]:
#Definir una variable con un nombre

In [ ]:
nombre = 'Frida'

In [ ]:
print('Introduce un nombre')
nombre = input()

Introduce un nombre
Daniel

In [ ]:
nombre

'José Manuel'

In [ ]:
if nombre == 'Frida':
  print('Hola nuevamente '+ nombre)
  print('¿Cómo has estado?')
  print('¿Cuántos años tienes?')
  edad = input()

Hola nuevamente Frida
¿Cómo has estado?
¿Cuántos años tienes?
46549848

In [ ]:
edad

'46549848'

**Condicional if/else**

In [ ]:
if nombre == 'Frida':
  print('Hola nuevamente '+ nombre)
  print('¿Cómo has estado?')
  print('¿Cuántos años tienes?')
  edad = input()
else:
  print('Lo sentimos, este acceso está restringido')
  print('intenta más tarde')

Lo sentimos, este acceso está restringido

**Condicional if/elif/else**

In [ ]:
nombre = 'Luis'

In [ ]:
if nombre == 'Frida': #Condicional 1
  print('Hola nuevamente '+ nombre)
  print('¿Cómo has estado?')
  print('¿Cuántos años tienes?')
  edad = input()
elif nombre == 'Daniel': #Condicional 2
  print('Hola '+ nombre)
  print('¿Cómo estás?')
  estado = input()
elif nombre == 'Luis':
  print('Bienvenido '+ nombre)
else: #Todos los demás casos
  print('Lo sentimos, este acceso está restringido')
  print('intenta más tarde')

Bienvenido Luis

# Ciclos for

In [ ]:
lista = [1,2,3,4,5,6,7]

In [ ]:
for elemento in lista:
  print(elemento*2)

2
4
6
8
10
12
14

In [ ]:
for n in range(10):
  print(n)

0
1
2
3
4
5
6
7
8
9

In [ ]:
mi_lista = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
filtrado = []
restantes = []

In [ ]:
for num in mi_lista:
  if num %2 ==0:
    filtrado.append(num)
  else:
    restantes.append(num)

In [ ]:
filtrado

[2, 4, 6, 8, 10]

In [ ]:
restantes

[1, 3, 5, 7, 9]

In [ ]:
for x in 'Bienvenido':
  print(f'Dame una {x}')
print('¡Bienveido!')

Dame una B
Dame una i
Dame una e
Dame una n
Dame una v
Dame una e
Dame una n
Dame una i
Dame una d
Dame una o
¡Bienveido!

In [ ]:
vocales = ['a','e','i','o','u']

In [ ]:
for num in 'Bienvenido':
  if num in vocales:
    print(f'vocal: {num}')
  else:
    print(f'consonante: {num}')

consonante: B
vocal: i
vocal: e
consonante: n
consonante: v
vocal: e
consonante: n
vocal: i
consonante: d
vocal: o

# Ciclos while

Imprime i mientras i sea menor que 10

In [ ]:
i = 5
while i <10:
  print(f'Hola {i}')
  i += 2

Hola 5
Hola 7
Hola 9