<a href="https://colab.research.google.com/github/fridaruh/Curso_Data_Analysis_Risk_Mathics/blob/master/Proyecto_final_Risk_Mathics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyecto Final

## Set de datos de Conectividad digital en edad escolar

Estos datos son proporcionados por UNICEF y han sido recuperados de Kagle.



*   Descarga los datasets de: https://www.kaggle.com/ruchi798/school-age-digital-connectivity
*   Importa la librería de pandas y numpy

## Carga y transformación de datos

*   Guarda en varios datasets llamados df_x cada uno de las tablas

In [ ]:
df_1.head()

*   A cada tabla agregale una columna que se llame "Nivel" y ponles el nombre según corresponda⁉

Ejemplo: 

`df_1['Nivel'] = 'pre-primary'`

Nota: Recuerda que todas las tablas tienen que escribirse igual en el nombre de la columna "Nivel"

- Ejecuta la siguiente función para unir todos los dataframes en uno solo:

In [ ]:
df = pd.concat([df_1, df_2, df_3, df_4, df_5])

- Obtén el número de filas y columnas que tiene el dataset resultante

- Carga en una variable llamada df_6 la información ubicada en este repositorio de github: https://raw.githubusercontent.com/fridaruh/Curso_Data_Analysis_Risk_Mathics/master/completion_rate.csv

Completion rate: Porcentaje de completación del nivel educativo por país.

- Realiza un left join con la llave de cruce ISO3.

Ejemplo: 

`df = pd.merge(tabla1, tabla2, on='llave')`

## Exploración de datos

- Obtén las estadísticas básicas del set de datos resultante **sólo sobre las variables cuantitativas**

In [ ]:
df.describe()

In [ ]:
df.head()

## Agrupaciones

- Genera una agrupación por la columna 'Development Regions' donde muestres el promedio de Wealth_Poorest y Wealth_Richest.

Genera una agrupación por la columna 'Development Regions' y sub agrupación 'Level' donde muestres el promedio de Wealth_Poorest y Wealth_Richest.

## Manejo de datos faltantes

Imprime cuántos datos nulos tienes en cada columna

- Sustituye el valor 0 en las celdas nulas en las siguientes variables:

  - Wealth quintile Richest    
  - Wealth_Richest             
  - Wealth_Fourth              
  - Wealth_Middle              
  - Wealth_Second              
  - Wealth_Poorest             
  - Wealth quintile Poorest

Elimina del dataset las siguientes columnas:  

'Countries and areas_x', 'Region_x', 'Sub-region_x'

Renombra las columnas 'Countries and areas_y', 'Region_y', 'Sub-region_y', 'Total_y' a que solo aparezca el nombre sin la terminación "_y"

## Visualización de datos

- Importa la librería de seaborn para poder visualizar los datos
- Genera una gráfica de Boxplot donde pongas en el eje y "Total" y en el eje x Development Regions

- Da una interpretación de este gráfico

- Genera una gráfica de Boxplot donde pongas en el eje y "Total" y en el eje x Income Group

- Da una intepretación de este gráfico

## Exporta los datos

Exporta el tu dataset final "df" a un archivo csv, una vez que lo descargues envíalo por mail a i.am@fridaruh.com